<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="./frontend/icon.png" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/5.0.45/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="./frontend/index.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <title>AI Assignment 1 (202008)</title>
    <style>
      .search-tree-dialog { height: 90%; }
    </style>
  </head>
  <body>
    <div id="app">
      <v-app>
        <v-main>
          <v-container fill-height class="align-stretch">
            <v-row no-gutters>
              <v-col class="pr-5">
                <v-card elevation="3" style="height:100%" class="d-flex flex-column">
                  <v-card-title>{{ name.main }}<v-spacer></v-spacer><v-btn tile icon title="Parameters" @click="param_dialog.show = true"><v-icon>mdi-cog-box</v-icon></v-btn></v-card-title>
                  <v-card-text class="flex-grow-1 overflow-auto d-flex flex-column" style="height:0pt">
                    <v-combobox class="flex-grow-0" label="Player" :items="player_list" v-model="player" :rules="[checkSelectedPlayer]">
                      <template v-slot:prepend>
                        <v-btn icon tile title="Player profile" @click="profile_dialog.show = player.text == player_obj.name"><v-icon>{{ player_icon_display }}</v-icon></v-btn>
                      </template>
                      <template v-slot:append-outer>
                        <v-btn outlined @click="runPlayer" :disabled="player.value == ''">run</v-btn>
                      </template>
                      <template v-slot:item="{ index, item }">
                        <v-icon class="pr-3">{{ item.text == "" ? default_val.player_icon : item.icon }}</v-icon>{{ item.text }}
                      </template>
                    </v-combobox>
                    <v-row>
                      <buckets width="100%" height="100%" 
                        :size="problem.size" 
                        :filled="buckets_display_index > -1 && buckets_display_index < result.path.length ? result.path[buckets_display_index] : problem.filled" 
                        :source="problem.source" 
                        :sink="problem.sink"
                      ></buckets>
                    </v-row>
                    <v-slider v-if="result.path.length > 0" min="0" :max="result.path.length - 1" class="px-2 flex-grow-0 align-center" hide-details v-model="buckets_display_index" ticks="always" tick-size="5">
                      <template v-slot:prepend>
                        <v-btn tile icon @click="buckets_display_index=Math.max(0, buckets_display_index-1)"><v-icon>mdi-menu-left-outline</v-icon></v-btn>
                      </template>
                      <template v-slot:append>
                        <v-btn tile icon @click="buckets_display_index=Math.min(result.path.length, buckets_display_index+1)"><v-icon>mdi-menu-right-outline</v-icon></v-btn>
                      </template>
                    </v-slider>
                    <v-row class="flex-grow-0 align-center" no-gutters>
                      <v-col class="text-center">
                        <template v-for="p,i in result.path">
                          <v-chip @click="buckets_display_index = i" :key="`path-${i}`" class="mx-2 my-1" :color="buckets_display_index == i ? 'green' : ''" :class="{ 'white--text': buckets_display_index == i }">{{ p.join(" &middot ") }}</v-chip>
                          <template v-if="i < result.path.length-1">&rarr;</template>
                        </template>
                      </v-col>
                      <v-col cols="auto"><v-btn icon tile v-if="result.search_tree.length > 0" @click="search_tree_dialog.show=true"><v-icon>mdi-graph-outline</v-icon></v-btn></v-col>
                    </v-row>
                  </v-card-text>
                </v-card>
              </v-col>
              <v-col cols="3">
                <v-card elevation="3" style="height:100%" class="d-flex flex-column">
                  <v-card-title>{{ name.side }}<v-spacer></v-spacer><v-switch v-model="log_enabler" hide-details dense inset class="mt-0 pt-0"></v-switch></v-card-title>
                  <v-card-text class="flex-grow-1 overflow-auto pt-0" style="height:0pt">
                    <v-list dense class="pt-0">
                      <v-divider></v-divider>
                      <template v-for="l,i in logs">
                        <v-list-item :key="i" :class="l.type == 'error' ? 'red' : ''" @click="showLogMsg(i)">
                          <v-list-item-content :title="l.text">
                            <v-list-item-title v-html="l.text" :class="l.type == 'error' ? 'white--text' : ''"></v-list-item-title>
                          </v-list-item-content>
                        </v-list-item>
                        <v-divider></v-divider>
                      </template>
                    </v-list>
                  </v-card-text>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn @click="logs=[]" outlined>Clear log</v-btn>
                  </v-card-actions>
                </v-card>
              </v-col>
            </v-row>

            <v-dialog v-model="log_msg_dialog.show">
              <v-card>
                <v-row class="align-center py-2" no-gutters>
                  <v-col cols="auto"><v-btn icon tile @click="log_msg_dialog.index -= 1" :disabled="log_msg_dialog.index == 0"><v-icon>mdi-chevron-left</v-icon></v-btn></v-col>
                  <v-col class="px-2" v-if="logs.length > 0" v-html="logs[log_msg_dialog.index].text"></v-col>
                  <v-col cols="auto"><v-btn icon tile @click="log_msg_dialog.index += 1" :disabled="log_msg_dialog.index == logs.length-1"><v-icon>mdi-chevron-right</v-icon></v-btn></v-col>
                </v-row>
              </v-card>
            </v-dialog>

            <v-dialog v-model="param_dialog.show" scrollable>
              <v-card>
                <v-card-title>Problem parameters</v-card-title>
                <v-divider></v-divider>
                <v-card-text>
                  <v-list>
                    <v-list-item>
                      <v-sheet width="100%">
                        You have <v-chip label class="mx-2" :color="getColor(param_dialog.crand+0)">{{ problem.size.length }}</v-chip> bucket{{ problem.size.length > 1 ? 's': '' }} of size 
                        <template v-for="b,i in problem.size">
                          <v-chip label :key="`bucket-size-${i}`" class="ma-2" :color="getColor(param_dialog.crand+i+1)">
                            <span class="pr-2" style="font-size: smaller;">({{ i+1 }})</span><span class="pr-2">{{ b }}</span><v-icon @click="removeBucket(i)">mdi-close</v-icon>
                          </v-chip>
                          {{ (i < problem.size.length - 1) ? (i == problem.size.length - 2) ? ", and" : ", " : ""  }}
                        </template>.
                      </v-sheet>
                    </v-list-item>
                    <v-list-item>
                      <v-text-field v-model="param_dialog.new_bucket_size" label="new bucket size" @keydown.enter="addNewBucket"></v-text-field>
                    </v-list-item>
                    <v-list-item>
                      <v-sheet width="100%">
                        Initially the bucket{{ problem.size.length > 1 ? 's are': ' is' }} filled with amount of 
                        <template v-for="f,i in problem.filled">
                          <v-chip label :key="`bucket-filled-${i}`" class="ma-2" :color="getColor(param_dialog.crand+i+1+problem.size.length)">
                            <span class="pr-2" style="font-size: smaller;">({{ i+1 }})</span><span class="pr-2">{{ f }}</span><v-icon @click="editInitialFill(i)">mdi-pencil</v-icon>
                          </v-chip>
                          {{ (i < problem.filled.length - 1) ? (i == problem.filled.length - 2) ? ", and" : ", " : ""  }}
                        </template>.
                      </v-sheet>
                    </v-list-item>
                    <v-list-item>
                      <v-text-field ref="editFillBox" 
                        v-model="param_dialog.edit_filled_value" 
                        :label="problem.filled.length > 0 ? param_dialog.edit_filled < 0 ? `click filled amount to edit` : `initial filled amount for bucket ${param_dialog.edit_filled + 1} (size = ${problem.size[param_dialog.edit_filled]})` : 'create bucket before define their initial fill'" 
                        @keydown.enter="updateInitialFill" 
                        :error="param_dialog.edit_filled_err.length > 0"
                        :error-messages="param_dialog.edit_filled_err"
                        @focus="param_dialog.edit_filled_err = []"
                      ></v-text-field>
                    </v-list-item>
                    <v-list-item>
                      <v-sheet width="100%">
                        Water source (unlimited) is 
                        <v-chip label class="ma-2" :color="getColor(param_dialog.crand+2*problem.size.length+2)">
                          <span class="pr-2">{{ problem.source ? '' : 'not ' }} available</span>
                          <v-icon @click="problem.source=!problem.source">{{ problem.source ? "mdi-toggle-switch" : "mdi-toggle-switch-off-outline" }}</v-icon>
                        </v-chip>
                      </v-sheet>
                    </v-list-item>
                    <v-list-item>
                      <v-sheet width="100%">
                        Water sink (unlimited) is 
                        <v-chip label class="ma-2" :color="getColor(param_dialog.crand+2*problem.size.length+3)">
                          <span class="pr-2">{{ problem.sink ? '' : 'not ' }} available</span>
                          <v-icon @click="problem.sink=!problem.sink">{{ problem.sink ? "mdi-toggle-switch" : "mdi-toggle-switch-off-outline" }}</v-icon>
                        </v-chip>
                      </v-sheet>
                    </v-list-item>
                  </v-list>
                </v-card-text>
              </v-card>
            </v-dialog>

            <v-dialog v-model="profile_dialog.show" scrollable>
              <v-card>
                <v-card-title>Player profile</v-card-title>
                <v-divider></v-divider>
                <v-card-text v-if="player_obj.name == player.text">
                  <v-row v-if="player_obj.err">
                    <v-col><v-alert type="error" width="100%">{{ player_obj.err }}</v-alert></v-col>
                  </v-row>
                  <v-row no-gutters class="mt-3"><v-col class="subheader">Name</v-col></v-row>
                  <v-row no-gutters><v-col><v-chip label :color="getColor(profile_dialog.crand+0)">{{ player_obj.name }}</v-chip></v-col></v-row>
                  <v-row no-gutters class="mt-3"><v-col class="subheader">Icon</v-col></v-row>
                  <v-row no-gutters>
                    <v-chip label :color="getColor(profile_dialog.crand+1)">
                      <span class="pr-2"><v-icon>{{ player_obj.icon }}</v-icon></span>
                      {{ player_obj.icon }}
                    </v-chip>
                  </v-row>
                  <v-row no-gutters class="mt-3"><v-col class="subheader">Folder</v-col></v-row>
                  <v-row no-gutters><v-col><v-chip label :color="getColor(profile_dialog.crand+2)">{{ player_obj.folder }}</v-chip></v-col></v-row>
                  <v-row no-gutters class="mt-3"><v-col class="subheader">Group</v-col></v-row>
                  <v-row no-gutters><v-col><v-chip label :color="getColor(profile_dialog.crand+3)">{{ player_obj.group }}</v-chip></v-col></v-row>
                  <v-row no-gutters class="mt-3"><v-col class="subheader" cols="auto">Informed Search</v-col></v-row>
                  <v-row no-gutters>
                    <v-chip label :color="getColor(profile_dialog.crand+4)">
                      <span class="pr-2"><v-icon>{{ player_obj.informed ? 'mdi-check' : 'mdi-close' }}</v-icon></span>
                      {{ player_obj.informed ? 'Informed' : 'Uninformed' }}
                    </v-chip>
                  </v-row>
                  <v-row no-gutters class="mt-3"><v-col class="subheader">Members</v-col></v-row>
                  <v-row no-gutters><v-col><v-chip label :color="getColor(profile_dialog.crand+5+mi)" v-for="m,mi in player_obj.members" :key="`member-${mi}`" class="mr-2 mb-2"><span class="pr-1">{{ m[0] }}</span><span>{{ m[1] }}</span></v-chip></v-col></v-row>
                </v-card-text>
              </v-card>
            </v-dialog>

            <v-dialog v-model="search_tree_dialog.show" scrollable content-class="search-tree-dialog">
              <v-card>
                <v-card-title>Search tree<v-spacer></v-spacer><v-btn icon @click="search_tree_dialog.settings.show = true"><v-icon>mdi-cog-box</v-icon></v-btn></v-card-title>
                <v-divider></v-divider>
                <v-card-text class="text-center pa-2" style="position: relative;">
                  <search-tree ref="stsvg" :width="`${search_tree_dialog.tree_width.current}%`" :tree="result.search_tree" :font="search_tree_dialog.font" :dimension="search_tree_dialog.dimension"></search-tree>
                  <v-overlay :value="search_tree_dialog.settings.show" absolute>
                    <v-card light>
                      <v-card-title>Search tree settings<v-spacer></v-spacer><v-btn icon @click="search_tree_dialog.settings.show = false"><v-icon>mdi-close</v-icon></v-btn></v-card-title>
                      <v-divider></v-divider>
                      <v-card-text>
                        <v-text-field type="number" label="Font size for state" v-model.number="search_tree_dialog.font.state"></v-text-field>
                        <v-text-field type="number" label="Font size for action" v-model.number="search_tree_dialog.font.action"></v-text-field>
                        <v-text-field type="number" label="Height of node" v-model.number="search_tree_dialog.dimension.node_height"></v-text-field>
                        <v-text-field type="number" label="Width of node" v-model.number="search_tree_dialog.dimension.node_width"></v-text-field>
                        <v-text-field type="number" label="Vertical separation between nodes" v-model.number="search_tree_dialog.dimension.link_height"></v-text-field>
                        <v-text-field type="number" label="Horizontal separation between nodes" v-model.number="search_tree_dialog.dimension.node_sep"></v-text-field>
                      </v-card-text>
                    </v-card>
                  </v-overlay>
                </v-card-text>
                <v-divider></v-divider>
                <v-card-actions>
                  <v-btn large icon @click="search_tree_dialog.tree_width.current = Math.max(5, search_tree_dialog.tree_width.current - 3)"><v-icon>mdi-magnify-minus-outline</v-icon></v-btn>
                  <v-btn large icon @click="search_tree_dialog.tree_width.current = search_tree_dialog.tree_width.reset"><v-icon>mdi-magnify-remove-outline</v-icon></v-btn>
                  <v-btn large icon @click="search_tree_dialog.tree_width.current += 3"><v-icon>mdi-magnify-plus-outline</v-icon></v-btn>
                  <v-spacer></v-spacer>
                  <v-btn @click.stop="search_tree_dialog.show=false" outlined>Close</v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-container>
        </v-main>
      </v-app>
    </div>
    
    <template id="search-tree-template">
      <svg :width="width" :view-box.camel="view_box">
        <svg:style>
          .expseq { font: normal 10px sans-serif; }
        </svg:style>
        <template v-for="layer,l in tree_array.slice(0,tree_array.length-1)">
          <template v-for="node,n in layer.flat(2)">
            <!-- node frame -->
            <rect :key="'node-'+l+'-'+n" 
              :x="node_x[l][n]"
              :y="l*(node_height+link_height)"
              :width="node_width"
              :height="node_height"
              v-if="!(node < 1)"
              stroke="gray"
              fill="white"
            ></rect>
            <!-- node text -->
            <text v-if="!(node < 1)" :key="'nodelabel-'+l+'-'+n"
              :x="node_x[l][n] + .5*node_width"
              :y="l*(node_height+link_height) + .5*node_height"
              font-weight="thin"
              :font-size="`${font_size.state}px`"
              dominant-baseline="middle" text-anchor="middle"
            >{{ node.state }}</text>
            <!-- expansion sequence -->
            <text v-if="!(node < 1) && (node.expansionsequence > 0)" :key="'nodelabel-expseq-'+l+'-'+n"
              :x="node_x[l][n] + .5*node_width + .75*node_width"
              :y="l*(node_height+link_height) + .5*node_height"
              font-weight="thin"
              dominant-baseline="middle" text-anchor="middle"
              class="expseq"
            >{{ node.expansionsequence }}</text>
            <!-- expansion sequence frame -->
            <circle v-if="!(node < 1) && (node.expansionsequence > 0)"  :key="'nodelabel-expseq-circle-'+l+'-'+n"
              :cx="node_x[l][n] + .5*node_width + .75*node_width"
              :cy="l*(node_height+link_height) + .5*node_height"
              :r=".2*node_width"
              fill="none"
              stroke="#009688"
            ></circle>
            <!-- removed -->
            <line v-if="node.removed" stroke="red" stroke-width="3"
              :x1="node_x[l][n] - .1*node_width"
              :y1="l*(node_height+link_height) - .1*node_height"
              :x2="node_x[l][n] + node_width + .1*node_width" 
              :y2="l*(node_height+link_height) + node_height + .1*node_height"
            ></line>
            <line v-if="node.removed" stroke="red" stroke-width="3"
              :x1="node_x[l][n] + node_width + .1*node_width"
              :y1="l*(node_height+link_height) - .1*node_height"
              :x2="node_x[l][n] - .1*node_width" 
              :y2="l*(node_height+link_height) + node_height + .1*node_height"
            ></line>
            <!-- connection -->
            <line v-if="(l > 0) && !(node < 1)" :key="'link-'+l+'-'+n" 
              :x1="linkage[l-1][n].parent_loc+.5*node_width"
              :y1="(l-1)*(node_height+link_height)+node_height"
              :x2="linkage[l-1][n].child_loc+.5*node_width"
              :y2="l*(node_height+link_height)"
              stroke="gray"
            />
            <!-- actions -->
            <text v-if="(l > 0) && !(node < 1)" :key="'linklabel-'+l+'-'+n"
              :x="(linkage[l-1][n].parent_loc+linkage[l-1][n].child_loc)/2 + .5*node_width"
              :y="l*(node_height+link_height) - .5*link_height"
              stroke="white"
              stroke-width=".5pt"
              font-weight="900"
              :font-size="`${font_size.action}px`"
              dominant-baseline="middle" text-anchor="middle"
            >{{ linkage[l-1][n].label }}</text>
          </template>
        </template>
      </svg>
    </template>

    <template id="tap-template">
      <svg viewBox="0 0 218.183 218.183" :width="width" :height="width" :x="x" :y="y">
        <path id="body" d="M135.634,109.124v12.088h-12.401c-2.233,0-4.04,1.809-4.04,4.04c0,2.231,1.807,4.04,4.04,4.04h12.401h48.485h13.861
          c2.233,0,4.04-1.809,4.04-4.04c0-2.231-1.807-4.04-4.04-4.04h-13.861v-36.37c0-20.048-16.323-36.358-36.387-36.358h-42.68V28.283
          h32.323V14.141C137.374,6.345,131.029,0,123.232,0H78.788c-7.797,0-14.141,6.345-14.141,14.141v14.141H96.97v20.202H12.121V96.97
          h111.364C130.185,96.97,135.634,102.423,135.634,109.124z M72.727,20.202v-6.061c0-3.342,2.719-6.061,6.061-6.061h44.444
          c3.342,0,6.061,2.719,6.061,6.061v6.061H72.727z M20.202,56.566h127.529c15.609,0,28.307,12.685,28.307,28.277v36.37h-32.323
          v-12.088c0-11.158-9.075-20.236-20.23-20.236H20.202V56.566z"/>
        <path id="middle-water" d="M157.576,135.354c-2.233,0-4.04,1.809-4.04,4.04v74.747c0,2.231,1.807,4.04,4.04,4.04c2.233,0,4.04-1.809,4.04-4.04
          v-74.747C161.616,137.163,159.809,135.354,157.576,135.354z" fill="#42A5F5"/>
        <path id="left-water" d="M138.621,135.551c-2.135-0.684-4.403,0.478-5.09,2.596l-24.242,74.747c-0.691,2.123,0.474,4.402,2.596,5.09
          c0.414,0.134,0.836,0.199,1.247,0.199c1.705,0,3.291-1.087,3.843-2.796l24.242-74.747
          C141.908,138.518,140.744,136.239,138.621,135.551z" fill="#42A5F5"/>
        <path id="right-water" d="M205.864,210.874l-24.242-74.747c-0.686-2.119-2.947-3.285-5.09-2.596c-2.123,0.688-3.287,2.967-2.596,5.09
          l24.242,74.747c0.552,1.709,2.139,2.796,3.843,2.796c0.411,0,0.833-0.065,1.247-0.199
          C205.39,215.276,206.554,212.997,205.864,210.874z" fill="#42A5F5"/>
        <path id="middle-right-water" d="M177.714,177.075c-0.386-2.195-2.481-3.667-4.679-3.277c-2.198,0.389-3.665,2.484-3.275,4.682l6.061,34.343
          c0.343,1.959,2.048,3.338,3.973,3.338c0.233,0,0.469-0.02,0.706-0.061c2.198-0.389,3.665-2.484,3.275-4.682L177.714,177.075z" fill="#42A5F5"/>
        <path id="middle-left-water" d="M142.116,173.798c-2.202-0.389-4.297,1.081-4.68,3.277l-6.061,34.343c-0.391,2.198,1.077,4.293,3.275,4.682
          c0.237,0.042,0.474,0.061,0.707,0.061c1.926,0,3.63-1.379,3.973-3.338l6.061-34.343
          C145.782,176.282,144.314,174.187,142.116,173.798z" fill="#42A5F5"/>
      </svg>
    </template>

    <template id="drain-template">
      <svg viewBox="0 0 480 480" :width="width" :height="width" :x="x" :y="y">
        <path id="outer-frame" d="m440 0h-400c-22.082031.0273438-39.9726562 17.917969-40 40v400c.0273438 22.082031 17.917969 39.972656 40 40h400c22.082031-.027344 39.972656-17.917969 40-40v-400c-.027344-22.082031-17.917969-39.9726562-40-40zm24 440c0 13.253906-10.746094 24-24 24h-400c-13.253906 0-24-10.746094-24-24v-400c0-13.253906 10.746094-24 24-24h400c13.253906 0 24 10.746094 24 24zm0 0"/>
        <path id="inner-frame" d="m240 48c-106.039062 0-192 85.960938-192 192s85.960938 192 192 192 192-85.960938 192-192c-.125-105.988281-86.011719-191.875-192-192zm0 368c-97.203125 0-176-78.796875-176-176s78.796875-176 176-176 176 78.796875 176 176c-.109375 97.15625-78.84375 175.890625-176 176zm0 0"/>
        <path id="ne-circle" d="m424 32c-13.253906 0-24 10.746094-24 24s10.746094 24 24 24 24-10.746094 24-24-10.746094-24-24-24zm0 32c-4.417969 0-8-3.582031-8-8s3.582031-8 8-8 8 3.582031 8 8-3.582031 8-8 8zm0 0"/>
        <path id="nw-circle" d="m56 80c13.253906 0 24-10.746094 24-24s-10.746094-24-24-24-24 10.746094-24 24 10.746094 24 24 24zm0-32c4.417969 0 8 3.582031 8 8s-3.582031 8-8 8-8-3.582031-8-8 3.582031-8 8-8zm0 0"/>
        <path id="se-circle" d="m424 400c-13.253906 0-24 10.746094-24 24s10.746094 24 24 24 24-10.746094 24-24-10.746094-24-24-24zm0 32c-4.417969 0-8-3.582031-8-8s3.582031-8 8-8 8 3.582031 8 8-3.582031 8-8 8zm0 0"/>
        <path id="sw-circle" d="m56 400c-13.253906 0-24 10.746094-24 24s10.746094 24 24 24 24-10.746094 24-24-10.746094-24-24-24zm0 32c-4.417969 0-8-3.582031-8-8s3.582031-8 8-8 8 3.582031 8 8-3.582031 8-8 8zm0 0"/>
        <path id="middle-north" d="m120 232h240c13.253906 0 24-10.746094 24-24s-10.746094-24-24-24h-240c-13.253906 0-24 10.746094-24 24s10.746094 24 24 24zm0-32h240c4.417969 0 8 3.582031 8 8s-3.582031 8-8 8h-240c-4.417969 0-8-3.582031-8-8s3.582031-8 8-8zm0 0"/>
        <path id="north" d="m144 168h192c13.253906 0 24-10.746094 24-24s-10.746094-24-24-24h-192c-13.253906 0-24 10.746094-24 24s10.746094 24 24 24zm0-32h192c4.417969 0 8 3.582031 8 8s-3.582031 8-8 8h-192c-4.417969 0-8-3.582031-8-8s3.582031-8 8-8zm0 0"/>
        <path id="middle-south" d="m360 248h-240c-13.253906 0-24 10.746094-24 24s10.746094 24 24 24h240c13.253906 0 24-10.746094 24-24s-10.746094-24-24-24zm0 32h-240c-4.417969 0-8-3.582031-8-8s3.582031-8 8-8h240c4.417969 0 8 3.582031 8 8s-3.582031 8-8 8zm0 0"/>
        <path id="south" d="m336 312h-192c-13.253906 0-24 10.746094-24 24s10.746094 24 24 24h192c13.253906 0 24-10.746094 24-24s-10.746094-24-24-24zm0 32h-192c-4.417969 0-8-3.582031-8-8s3.582031-8 8-8h192c4.417969 0 8 3.582031 8 8s-3.582031 8-8 8zm0 0"/>
      </svg>
    </template>

    <template id="bucket-template">
      <svg :view-box.camel="`-10 0 ${width} ${height}`" :width="width" :height="height" :x="x" :y="y">
        <path id="top-body" :d="`M10,10m-10,-10
        h10
        h${w}
        h10
        c10 0,10 0,10 10
        v10
        v${top_height}
        v10
        c0 10,0 10,-10 10
        h-10
        h-${w}
        h-10
        c-10 0,-10 0,-10,-10
        v-10
        v-${top_height}
        v-10
        c0 -10,0 -10,10,-10
        z`
        " fill="#6D4C41"/>
        <path id="top-frame" :d="`M10,10
        h${w}
        c10 0,10 0,10 10
        v${top_height}
        c0 10,0 10,-10 10
        h-${right_partial}
        c-10 0,-10 10,0 10
        h${right_partial}
        h10
        c10 0,10 0,10 -10
        v-10
        v-${top_height}
        v-10
        c0 -10,0 -10,-10 -10
        h-10
        h-${w}
        h-10
        c-10 0,-10 0,-10 10
        v10
        v${top_height}
        v10
        c0 10,0 10,10 10
        h10
        h${left_partial}
        c10 0,10 -10,0 -10
        h-${left_partial}
        c-10 0,-10 0,-10 -10
        v-${top_height}
        c0 -10,0 -10,10 -10
        z`
        "/>
        <path id="bottom-frame" :d="`M10,10m0,10m0,${top_height}m0,10m0,10
        v${h}
        v10
        c0 10,0 10,10 10
        h10
        h${w-40}
        h10
        c10 0,10 0,10 -10
        v-10
        v-${h}
        h-10
        v${h}
        c0 10,0 10,-10 10
        h-${w-40}
        c-10 0,-10 0,-10 -10
        v-${h}z`
        "/>
        <path v-if="filled_h > 0" id="water-body" :d="`M10,10m0,10m0,${top_height}m0,10m0,10m10,0
        m0,${h-filled_h}
        v${filled_h}
        c0 10,0 10,10 10
        h${w-40}
        c10 0,10 0,10 -10
        v-${filled_h}
        z`
        " fill="#42A5F5"/>
      </svg>
    </template>

    <template id="buckets-template">
      <svg :view-box.camel="`${tap.x-10} ${tap.y-10} ${drain.x+drain.width+10+10} ${drain.y+drain.width+10+10}`" :width="width" :height="height" min-height="100px">
        <svg:style>.size-label { font-size: {{ bucket.max.w*0.2 }}px }</svg:style>
        <tap v-if="source" :width="`${tap.width}`" :x="`${tap.x}`" :y="`${tap.y}`"></tap>
        <bucket v-for="d,i in buckets_dim" :x="`${d.x}`" :y="`${d.y}`" :dimension="d" :key="`bucket-${i}`"></bucket>
        <text v-for="s,i in size" :key="`size-${i}`" text-anchor="middle" dominant-baseline="hanging" :x="buckets_dim[i].x+buckets_dim[i].width/2" :y="buckets_dim[i].y+buckets_dim[i].height" class="size-label">{{ s }}</text>
        <drain v-if="sink" :width="`${drain.width}`" :x="`${drain.x}`" :y="`${drain.y}`"></drain>
      </svg>
    </template>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="./frontend/index.js"></script>
  </body>
</html>